.modal-card {
  width: min(1200px, 80vw);
  .selectable-tag {
    cursor: pointer;
    opacity: .6;
    border: 1px solid transparent;
    &.selected {
      opacity: 1;
    }
    &:hover{
      opacity: 1;
    }
  }
}

.table {
  background-color: unset;
  th, td {
    border-color: black;
  }
  .is-current {
    font-weight: bold;
  }
  .is-done {
    opacity: .5;
  }
}
.subcategory-modal {
  z-index: 400;
}

.category-selects {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .box {
    margin: .5rem;
  }
}

.addItem {
  cursor: pointer;
}

.is-120px {
  width: 120px;
}
