$c0: #fff4e3;
$c1: #ffe4ba;
$c2: #ecb4aa;
$c3: #a870ab;
$c4: #413e9f;
$c5: #041440;

.color-theme {
  background-color: $c1;
  color: $c5;
  small {
    color: $c4;
  }
  a{
    color: $c4;
  }
  .button {
    background-color: $c0;
    border-color: transparent;
    &.is-static {
      background-color: $c1;
    }
  }
  .button.is-small.is-rounded {
    border: 1px $c3 solid;
  }
  .button:hover {
    background-color: $c3;
    color: $c1;
  }
  .title {
    color: $c5;
  }
  .card {
    background-color: $c0;
    .box {
      background-color: $c0;
      .theme-modifier:hover {
        background-color: $c3;
      }
      .tag.is-delete:hover {
        background-color: $c3;
      }
    }
    .is-transaction:hover {
      background-color: $c2;
    }
    button.new-csvMask.button {
      border: 1px black solid;
    }
  }
  .card-footer-item {
    background-color: $c0;
  }
  .card-footer-item:hover {
    background-color: $c3;
  }
  .modal {
    .modal-card-head {
      background-color: $c1;
    }
    .modal-card-body {
      background-color: $c0;
      .control-modifier {
        margin-left: 3px;
      }
      .color-modifier {
        background-color: $c1;
        outline: none;
        border: none;
        box-shadow: none;
      }
      .color-modifier:hover {
        background-color: $c3;
      }
      .btn-modifier {
        background-color: $c1;
        box-shadow: none;
        border: none;
      }
      .btn-modifier:hover {
        background-color: $c3;
      }
      .tag.csv-tag:hover {
        color: $c5;
      }
      .tag.addItem:hover {
        background-color: $c3;
      }
    }
    .modal-card-foot {
      background-color: $c1;
    }
    .set-border {
      border: 1px $c3 solid;
    }
  }
  .tag:not(body) {
    background-color: $c1;
    text-decoration: none;
    &:after {
      color: $c5;
    }
    &:before {
      color: $c5;
    }
  }
  .footer {
    background-color: $c1;
  }
  .navbar {
    background-color: $c2;
    a,
    div,
    h1 {
      background-color: $c3;
      color: $c1;
    }
    &.navbar-burger.no-decoration {
      border: none;
      background-color: $c2;
    }
    .navbar-dropdown {
      border-color: $c3;
    }
    .navbar-item.has-dropdown:hover {
      background-color: $c2;
      .navbar-link {
        background-color: $c2;
      }
    }
    a.navbar-item:hover {
      background-color: $c2;
      color: $c4;
    }
  }

  .dashboard-filter {
    background-color: $c2;
    &.border-modifier {
      border-top-left-radius : 0px;
      border-top-right-radius: 0px;
    }
    table {
      background-color: $c2;
    }
    .modal-card-title {
      color: $c5
    }
  }

  button.filter-toggle {
    color: $c3;
    border-color: $c3;
  }
}
