@import "src/styles/variables.scss";

.selectable-tag {
  cursor: pointer;
  opacity: .6;
  border: 1px solid transparent;
  &.selected {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
}

.no-shadow:focus-visible {
  outline: none;
  box-shadow: none;
}
.no-shadow {
  width: 288px;
}

.button.ml.btn-modifier {
  margin-left: 1.5rem;
}

@media (max-width: $mobile) {
  .button.ml.btn-modifier{
    margin-left: 0px;
    margin-top: 10px;
  }
}
